{% extends "layouts/base.html" %}

{% block title %} SPMS{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block sidebar %}
{% if usertype == 'Higher Authority' %}
{% include 'includes/hasidebar.html' %}
{% else %}
{% include 'includes/facultysidebar.html' %}
{% endif %}
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header ">
                <h2 class="card-title">PLO Achieved Count Comparison For Selected Program & Semester</h2>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <form id="myform" action="rad1" method="post">
        {% csrf_token %}
        <table class="form-table">
            <tr>
                <td class="form-field" style="padding-right:30px;">
                    <label style="padding-right:5px;" for="uni">University</label>
                    <select style="width:120px;height:30px;" class="form-select selectpicker" data-live-search='true'
                        id="uni" name="uni" form="myform">
                        {% for i in uni %}
                        {% if i == selecteduni %}
                        <option value="{{i}}" selected="selected">{{i}}</option>
                        {% else %}
                        <option value="{{i}}">{{i}}</option>
                        {% endif %}

                        {% endfor %}
                    </select>
                </td>
                <td class="form-field" style="padding-right:30px;">
                    <label style="padding-right:5px;" for="program">Program</label>
                    <select style="width:120px;height:30px;" class="form-select selectpicker" data-live-search='true'
                        id="program" name="program" form="myform">
                        {% for i in plist %}
                        {% if i == selectedProgram %}
                        <option value="{{i}}" selected="selected">{{i}}</option>
                        {% else %}
                        <option value="{{i}}">{{i}}</option>
                        {% endif %}

                        {% endfor %}
                    </select>
                </td>

                
            </tr>
            <td class="form-field" style="padding-right:30px;">
                <label style="padding-right:5px;" for="sem1">From</label>
                <select style="width:120px;height:30px;" class="form-select selectpicker" id="sem1" name="sem1"
                    form="myform">
                    {% for i in semesters %}
                    {% if forloop.counter0 == sem1 %}
                    <option value="{{forloop.counter0}}" selected="selected">{{i}}</option>
                    {% else %}
                    <option value="{{forloop.counter0}}">{{i}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td class="form-field" style="padding-right:30px;">
                <label style="padding-right:5px" for="sem2">To</label>
                <select style="width:120px;height:30px;" class="form-select selectpicker" id="sem2" name="sem2"
                    form="myform">
                    {% for i in semesters %}
                    {% if forloop.counter0 == sem2 %}
                    <option value="{{forloop.counter0}}" selected="selected">{{i}}</option>
                    {% else %}
                    <option value="{{forloop.counter0}}">{{i}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td style="text-align: center;" class="last-row" colspan="2">
                <button class="btn btn-primary">Search</button>
            </td>
            <tr>

            </tr>
        </table>
    </form>
</div>


<div class="row mt-4" id="chart">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-body" style="height:800px;">
                <div class="chart-area">
                    <canvas id="myChart" height="180px;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}




<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


<script>
    colors = ['#5CC8D7FF', '#00539CFF', '#E29578', '#2C5F2D', '#97BC62FF', '#CE4A7EFF', '#FC766AFF', '#603F83FF', '#006D77'
        , '#264653', '#81b29a', '#8d99ae', '#EEA47FFF']
    plo = {{ plo | safe }}
    d = {{ data }}
    labels = {{ labels | safe }}


    var datalist = []
    for (let i = 0; i < d.length; i++) {
        datalist.push({
            label: labels[i],
            data: d[i],
            borderColor: colors[i],
            pointBackgroundColor: colors[7],
            pointHoverBackgroundColor: colors[5],
            pointHoverBorderColor: colors[8]
        });
    }
    var originaldata = {
        labels: plo,
        datasets: datalist,

    }

    var ctx = document.getElementById("myChart");
    var options = {
        tooltips: {
            mode: 'label'
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    };
    var myRadarChart = new Chart(ctx, {
        type: 'radar',
        data: originaldata,
        options: options
    });
    Chart.helpers.bindEvents(myRadarChart, ['mousedown'], function (evt) {
        var lastMousePosition = [evt.x, evt.y];
        console.log('mousedown');
        var lastActive = myRadarChart.lastActive;
        if (Array.isArray(lastActive) && lastActive.length) {
            lastActive = lastActive[0];
            console.log(lastActive);
            var moveHandler = function (evt) {
                var index = lastActive._index;
                var dataset = lastActive._datasetIndex;
                console.log('mouse move');
                if (evt.y < lastMousePosition[1]) {
                    myRadarChart.data.datasets[dataset].data[index] = myRadarChart.data.datasets[dataset].data[index] + 1;
                    myRadarChart.update(1, false);
                } else if (evt.y > lastMousePosition[1]) {
                    myRadarChart.data.datasets[dataset].data[index] = myRadarChart.data.datasets[dataset].data[index] - 1;
                    myRadarChart.update(1, false);
                }
                lastMousePosition = [evt.x, evt.y];
            };
            var outHandler = function () {
                console.log('unbinding');
                Chart.helpers.unbindEvents(myRadarChart, { 'mousemove': moveHandler });
                Chart.helpers.unbindEvents(myRadarChart, { 'mouseup': outHandler });
                Chart.helpers.unbindEvents(myRadarChart, { 'mouseout': outHandler });
            }
            Chart.helpers.bindEvents(myRadarChart, ['mousemove'], moveHandler);
            Chart.helpers.bindEvents(myRadarChart, ['mouseup'], outHandler);
            Chart.helpers.bindEvents(myRadarChart, ['mouseout'], outHandler);
        }
    });

</script>


{% endblock javascripts %}